<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded" src="images/jungle.jpg" alt="">
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-10">
            <h2 class="h1 mb-3">About Us</h2>
            <p class="lead fs-4 mb-3 mb-xl-5">
              Over half of the world's plant and animal species live in jungles.
              Jungles are similar to rainforests, but jungles have fewer trees and more sunlight.
              Jungles are in hot places with lots of rainfall. Usually found near the equator.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>